body {
  margin: 0;
  background-color: rgb(255, 255, 255);
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}
.navbar {
  position: fixed;
  width: 100%;
  background-color: rgb(0, 0, 107);
  z-index: 3;
  display: flex;
  justify-content: center;
}

.navbar ul {
  width: fit-content;
  display: flex;
  justify-content: space-around;
  list-style: none;
  color: white;
}

.navbar li {
  display: inline;
  flex-direction: row;
  margin-right: 10px;
  font-size: 20px;

}

.navbar li a {
  color: white;
  text-decoration: none;
  margin: 0 30px;
}

.background-container {

  width: 100%;
  height: 100vh;
}

.filter {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(31, 31, 31);
  z-index: 1;
  filter: opacity(0.4);
}

.background-container img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  margin: 0;
  filter: contrast(150%) blur(0px);
}

.background-title {

  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  margin: 0;
  text-align: center;
}



.background-title .line {
  width: auto;
  height: 2px;
  background-color: rgb(0, 201, 252);
}

.background-title h1 {
  color: white;
  font-size: 170px;
  margin: 0;
}

.background-title h2 {
  color: white;
  font-size: 50px;
  margin: 0;
}


.social-link a img {
  width: 40px;
  height: 40px;


}

.social-link {
  transform: translate(-7%, -50%);
}

.social-link ul {

  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;

}

.social-link li {

  margin: 0 20px;

}


.aboutme {
  width: auto;
  text-align: center;
  height: auto;
}

.aboutme-title {
  display: flex;
  justify-content: center;
  flex-direction: column;

  align-items: center;
}

.aboutme-title h1 {
  font-size: 50px;
  margin: 0;
  padding: 30px 0;

}

.aboutme-title .line {
  text-align: center;
  width: 500PX;
  height: 3px;
  background-color: rgb(0, 201, 252);
}

.avatar-container {
  height: 300px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid rgb(0, 1, 77);


}

.avatar-container img {
  max-width: 100%;
  max-height: 100%;
}

.aboutme-content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 50px 10px;
}

.aboutme-content .text {
  width: 300px;
  text-align: start;
  font-size: 18px;
  margin-left: 100px;
}

.aboutme-content .text p {
  margin: 1px;
}

.technical-skill {

  height: auto;
  width: auto;
  background-color: rgb(238, 238, 238);
  padding-bottom: 20px;
}

.technical-skill .text {
  width: 700px;
  font-size: 18px;
  text-align: center;
}

.technical-skill h2 {

  transform: translateX(0%);
}

.technical-skill .text-container {
  display: flex;
  justify-content: center;
  margin: 0 100px;

}

.technical-skill .text-container ul {

  margin: 0 100px;

}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

.img-container img {
  width: auto;
  height: 70px;
  margin: 0 20px;
}

.personal-project {
  height: auto;
  width: auto;
}

.flashcard-container {
  padding: 50px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.flashcard {
  position: relative;
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  border-radius: 30px;
  width: auto;
  z-index: 0;
  margin: 0 10px;

}

.hover:hover {
  transition: 0.5s;
  transform: translateY(-10px);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.scale:hover {
  transition: 0.5s;
  transform: scale(1.1);
}

.flashcard img {
  height: 300px;
  width: 420px;
  position: absolute;
  clip: rect(0px, auto, 105px, 0px);
  border-radius: 30px;
  z-index: 1;

}

.flashcard-cover {
  padding: 10px;
  position: relative;
  top: 80%;
  background-color: rgb(238, 238, 238);
  z-index: 2;
  border-radius: 0 0 30px 30px;
}

.flashcard-content {
  z-index: 0;
  width: 400px;
}

.contact {
  height: 100vh;
  width: auto;
  background-color: rgb(1, 0, 88);
  padding-top: 50px;
}

.contact h1 {
  color: white;
  font-size: 90px;
}

.contact .text {
  margin: 10px;
  width: 800px;
  text-align: center;
}

.contact .text p {
  color: white;
  font-size: 20px;
  margin: 0;
  margin: 10px;

}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group input {
  width: 700px;
  height: 10px;

  border: none;
  margin: 10px;
  padding: 10px;

}

.form-group label {
  color: white;
  font-size: 20px;
  margin: 10px;
}

.form-group textarea {
  width: 700px;
  height: 100px;
  border-radius: 10px;
  border: none;
  margin: 10px;
  padding: 10px;
}

.form button {
  transform: translateX(620%);

  width: 100px;
  height: 40px;
  border-radius: 10px;
  border: none;
  margin: 10px;
  padding: 10px;
  background-color: rgb(0, 201, 252);
  color: white;
  font-size: 20px;
}